<div class="header row">
    <a class="headerImg" [routerLink]="['/home']">
      <img src="../../assets/img/church-logo.png">
    </a>
    <button mat-raised-button [matMenuTriggerFor]="menu" class="header-btn">
      MORE
    </button>
    <button mat-raised-button [matMenuTriggerFor]="menu" class="alt-btn">
      Click for Menu
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-flat-button [routerLink]="['/join']">JOIN US</a>
    <a mat-flat-button [routerLink]="['/listen']">LISTEN</a>
    <a mat-flat-button [routerLink]="['/watch']">WATCH</a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="navigate('watch')" class="phoneButton">
        <span>WATCH</span>
      </button>
      <button mat-menu-item (click)="navigate('listen')" class="phoneButton">
        <span>LISTEN</span>
      </button>
      <button mat-menu-item (click)="navigate('join')" class="phoneButton">
        <span>JOIN US</span>
      </button>
      <button mat-menu-item (click)="navigate('dailydevotions')">
        <span>DAILY DEVOTIONS</span>
      </button>
      <button mat-menu-item (click)="navigate('staff')">
        <span>MEET THE STAFF</span>
      </button>
      <button mat-menu-item (click)="navigate('donate')">
        <span>GIVE</span>
      </button>
      <button mat-menu-item (click)="navigate('contact')">
        <span>CONTACT</span>
      </button>
      <button mat-menu-item (click)="navigate('checkin')">
        <span>CHECK IN</span>
      </button>
      <button mat-menu-item (click)="navigate('register')">
        <span>SIGN UP</span>
      </button>
      <button mat-menu-item (click)="navigate('login')">
        <span>LOG IN</span>
      </button>
  </mat-menu>
</div>
   


