<div class="header row">
    <img src="../../assets/img/church-logo.png">
    <button mat-raised-button [matMenuTriggerFor]="menu" class="header-btn">
      MORE
    </button>
    <button mat-raised-button [matMenuTriggerFor]="menu" class="alt-btn">
      Click for Menu
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-flat-button href="https://www.google.com/" target="_blank">JOIN US</a>
    <a mat-flat-button href="https://www.google.com/" target="_blank">LISTEN</a>
    <a mat-flat-button href="https://www.google.com/" target="_blank">WATCH</a>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <span>DAILY DEVOTIONS</span>
      </button>
      <button mat-menu-item>
        <span>MEET THE STAFF</span>
      </button>
      <button mat-menu-item>
        <span>SIGN UP</span>
      </button>
      <button mat-menu-item>
        <span>LOG IN</span>
      </button>
  </mat-menu>
</div>
   


