@import '../../styles'

.phoneButton
    display: none
    @media screen and (min-width: $bp-phone+1)
        display: none
    @media screen and (max-width: $bp-phone)
        display: block

.header
    @include column($w: 100%, $m: 0px, $p: 0px)
    @include row($float: left)
    height: 70px
    background-color: $primarycolor
    align-items: center
    margin-top: 1.25em
    @media screen and (max-width: $bp-phone)
        margin-top: 0.875rem


.headerImg
    margin: 0
    padding: 0
    float: left
    width: 225px
    @media screen and (max-width: $bp-phone)
        width: 60%
        margin-left: 20%
        margin-right: 20%
        display: block
        margin-bottom: 1em

.headerImg > img
    width: 100%


@mixin headerbtn()
    @include row($float: right)
    margin-top: 15px
    height: 45px
    text-align: center
    width: 80px
    font-size: $fontsize-secondary
    font-family: $fontstyle
    color: $secondarycolor
    font-weight: bold

a
    @include headerbtn    
    padding-top: 7px
    margin-right: 1px
    @media screen and (max-width: $bp-phone)
        display: none


.header-btn
    @include headerbtn()
    color: $primarycolor
    background-color: black
    @media screen and (max-width: $bp-phone)
        display: none

.alt-btn
    @include headerbtn()
    color: $primarycolor
    background-color: black
    @media screen and (min-width: $bp-phone+1)
        display: none
    @media screen and (max-width: $bp-phone)
        width: 50%
        float: none
        margin-left: 25%

::ng-deep.mat-menu-panel 
    max-width: 100% !important
    @media screen and (max-width: $bp-phone)
        width: 100%

.mat-menu-item
    @media screen and (max-width: $bp-phone)
        text-align: center !important

.mat-menu-item:hover
    color: $alertAltColor
    
::ng-deep.cdk-overlay-connected-position-bounding-box
    @media screen and (max-width: $bp-phone)
        width: 100% !important

::ng-deep.cdk-overlay-pane
    @media screen and (max-width: $bp-phone)
        width: 50% !important
    

    
