@import '../../styles'

.header
    @include column($w: 100%, $m: 0px, $p: 0px)
    @include row($float: left)
    height: 60px
    background-color: $primarycolor
    padding-top: 3%
    padding-left: 5%
    padding-right: 5%

img
    width: 225px
    
