<div>
    <p>
        <strong class="header">
            {{watchHeaderText}}
        </strong>
   </p>
   <iframe width="840" height="470" src="https://www.youtube.com/embed/-CgrHnWijSo" 
           title="YouTube video player" frameborder="0" 
           allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
           allowfullscreen>
    </iframe>

    <app-service-hours></app-service-hours>
    
    <p>
        <strong class="subheader">
            {{interactHeaderText}}
        </strong>
   </p>
   <p [innerHTML]="interactText">
   </p>
</div>
