<div>
    <p class="verseContent">
        <strong class="verseText">
            {{verse}}
        </strong>
        <br>
        {{verseSource}}
   </p>
   <p [innerHTML]="giveText">
   </p>
   <p>
        <strong class="subheader">
            {{givePhysicalHeader}}
        </strong>
        <br>
        <br>
        Please make your check/payment payable to:
        <br>
        <br>
        {{churchName}}
        <br>
        {{adrLn1}}
        <br>
        {{adrLn2}}
   </p>
   <p>
       <strong class="subheader">
           {{onlineOpt1}}
       </strong>
   </p>
   <a [href]="opt1URL">
        <img src="../../assets/img/faithStreetGiveIcon.png">
   </a>
   <p>
       <strong class="subheader">
           {{onlineOpt2}}
       </strong>
   </p>
   <a [href]="opt2URL">
        <img src="../../assets/img/paypalDonateIcon.png">
   </a>
</div>