<table div class="watchTable">
    <tbody>
        <tr>
            <td>
                <strong>
                {{primaryServiceText}}
                </strong>
            </td>
            <td>
                {{primaryServiceTime}}
            </td>
        </tr>
        <tr>
            <td>
                <strong>
                {{specialServiceText}}
                </strong>
            </td>
            <td>
                {{specialServiceTime}}
            </td>
        </tr>
    </tbody>
</table>
