<div>
    <p>
        <strong class="header">
            {{staffHeader}}
        </strong>
   </p>
   <div *ngFor='let emp of employees' class="row">
       <div class="img-col">
            <img [src]="emp?.photo">
       </div>
       <div class="text-col">
            <p>
                <strong>
                    {{emp?.title}}
                </strong>
                - {{emp?.name}}
            </p>
            <p>
                {{emp?.bio}}
            </p>
        </div> 
        <br>   
   </div>
</div>
