
$breakpoints: (phone: 640px, tablet: 768px, desktop: 1024px) !default
$bgcolor: #f8f6f2
$primarycolor: white
$secondarycolor: #313131
$alertcolor: f78da7
$fontstyle: "Noto Sans", Arial, sans-serif
$fontstyle-alt: Arial, sans-serif
$fontsize-primary: 16px
$fontsize-secondary: 13px

@mixin primary-text($color: $secondarycolor)
    color: $color

@mixin secondary-text($color: $primarycolor)
    color: $secondarycolor

@mixin body()
    @include primary-text($color: $secondarycolor)
    background-color: $bgcolor
    width: 100%
    padding: 0px
    margin: 0px
    font-family: $fontstyle
    font-size: $fontsize-primary
    display: block

body
    @include body

@mixin main()
    @include primary-text($color: $secondarycolor)
    background-color: $primarycolor
    width: 82%
    height: 1000px
    padding: 0px
    margin-left: 9%
    margin-right: 9%
    font-family: $fontstyle
    font-size: $fontsize-primary
    display: block
    @media screen and (max-width: 1199px)
        width: 100%
        padding: 0px
        margin: 0px

@mixin header()
    include primary-text
    background-color: $primarycolor

@mixin alert()
    include primary-text
    background-color: $alertcolor

@mixin subheader()
    include secondary-text
    background-color: $secondarycolor

@mixin column($w: 100%, $m: 0px, $p: 0px)
    width: $w
    margin: $m
    padding: $p

@mixin row($float: left)
    display: inline-block
    float: $float