<div>
    <p>
        <strong class="header">
            {{checkInHeader}}
        </strong>
   </p>
   <div class="col-12 row listHeader">
        <div class="col-3">
            Name
        </div>
        <div class="col-3">
            Number
        </div>
        <div class="col-4">
            E-Mail
        </div>
        <div class="col-2">
            Status
        </div>
   </div>
    <div class="col-12 row listHeader" 
        *ngFor="let member of members">
        <div class="col-3">
            {{member?.name}}
        </div>
        <div class="col-3">
            {{member?.phone?.substring(0,3)}}-{{member?.phone?.substring(3,6)}}-{{member?.phone?.substring(6,10)}}
        </div>
        <div class="col-4">
            {{member?.email}}
        </div>
        <div class="col-2">
            {{member?.status}}
        </div>
    </div>
    <form [formGroup]="signIn" (ngSubmit)="onSubmit()" class="col-12 row">
        <mat-form-field class="col-3">
            <mat-label>Name</mat-label>
            <input type="text" matInput formControlName="name" placeholder="Name" required minlength="5"
              maxlength="30" required>
            <mat-error *ngIf="signIn.controls.name?.hasError('required')">
              Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-3">
            <mat-label>Phone Number</mat-label>
            <input type="tel" matInput formControlName="phone" placeholder="0123456789" minlength="10" maxlength="10">
            <mat-error *ngIf="signIn.controls.phone?.invalid">
                Please enter a valid phone number or leave this field blank
              </mat-error>
        </mat-form-field>
        <mat-form-field class="col-4">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" placeholder="example@gmail.com">
            <mat-error *ngIf="signIn.controls.email?.hasError('email')">
              Please enter a valid email address or leave this field blank
            </mat-error>
        </mat-form-field>
        <mat-form-field class="col-2">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" required [(value)]="selected">
                <mat-option selected value='Visitor'>Visitor</mat-option>
                <mat-option value='Member'>Member</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" 
                [disabled]="!signIn.valid">Submit</button>
    </form>
</div>
