<div class="home">
    <div class="alert" [innerHTML]="alertText">
    </div>
    <div class="watch">
        {{watchText}}
    </div>
    <div class="slideshow-container">
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    
        <div class="mySlides">
            <img src="../../assets/img/churchSlide1.jpg">
        </div>
        
        <div class="mySlides">
            <!-- <img src="../../assets/img/churchSlide1.jpg"> -->
        </div>
        
        <div class="mySlides">
            <img src="../../assets/img/churchSlide1.jpg">
        </div>
        
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
        
    </div>
    <div class="mainTextBlurb">
        {{mainText}}
    </div>
    <div class="mainIcons">
        <a class="leftImage" href="https://www.lcms.org/about/beliefs">
            <img src="../../assets/img/lcms-300x200.jpg">
        </a>
        <a class="rightImage2" href="https://www.lincsa.org/">
            <img src="../../assets/img/SA-LINC-Image.png">
        </a>
        <a class="rightImage1" href="https://www.facebook.com/coslc.org/">
            <img src="../../assets/img/facebook-150x150.png">
        </a>
    </div>
</div>

