<div class="home">
    <div class="alert" [innerHTML]="alertText">
    </div>
    <div class="watch">
        {{watchText}}
    </div>
    <div class="slideshow-container">
        <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    
        <div class="mySlides">
            <img src="../../assets/img/churchSlide1.jpg">
        </div>
        
        <div class="mySlides">
            <!-- <img src="../../assets/img/churchSlide1.jpg"> -->
        </div>
        
        <div class="mySlides">
            <img src="../../assets/img/churchSlide1.jpg">
        </div>
        
        <a class="next" (click)="plusSlides(1)">&#10095;</a>
        
    </div>
    <div class="mainTextBlurb">
        {{mainText}}
    </div>
    <div class="mainIcons">

    </div>
</div>

