@import '../../styles'

@mixin fontSettings
    font-family: $fontstyle
    text-align: center
    padding: 1.25em 0 1.25em 0
    line-height: 1.75em
    margin-top: 0
    font-size: $fontsize-primary
    @media screen and (max-width: $bp-phone)
        @include column($w: 85%, $m: 0px 2.5% 0px 2.5%, $p: 1.25em 5% 1.25em 5%)

.home
    @include column($w: 100%, $m: 0px, $p: 0px)
    display: inline-block
    margin-top: 2em
    @media screen and (max-width: $bp-phone)
        @include column($w: 90%, $m: 0px, $p: 0px)
        margin: 4em 5% 0 5%

.alert
    @include fontSettings
    background-color: $alertcolor
    color: black

.watch
    @include fontSettings
    background-color: $secondarycolor
    color: $primarycolor
    font-weight: bolder

img
    width: 100% 
    vertical-align: middle

.mySlides
/* Slideshow container */
.slideshow-container 
  position: relative
  margin-top: 0em !important
/* Next & previous buttons */
.prev, .next 
  cursor: pointer
  position: absolute
  top: 50%
  width: auto
  padding: 16px
  margin-top: -22px
  color: $primarycolor
  font-weight: bold
  font-size: 24px
  transition: 0.6s ease
  border-radius: 0 3px 3px 0
  user-select: none

.next 
  right: 0
  border-radius: 3px 0 0 3px

.prev:hover, .next:hover 
  background-color: rgba(0,0,0,0.8)

.fade 
  -webkit-animation-name: fade
  -webkit-animation-duration: 1.5s
  animation-name: fade
  animation-duration: 1.5s

// @-webkit-keyframes fade 
//   from opacity: .4 
//   to opacity: 1

// @keyframes fade 
//   from opacity: .4
//   to opacity: 1

@media only screen and (max-width: 300px) 
  .prev, .next,.text 
      font-size: 11px


